*{
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

li > header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.App {
  /* display: flex; */
  /* justify-content: center; */
  margin: 0 auto;
  width: 80%;
}

.tasks-div {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container footer {
  display: flex;
  justify-content: space-between;
}

button:focus, input:focus, textarea:focus, select:focus {
  outline:0;
}


button {
  text-align: left;
  background-repeat: no-repeat;
  background-position: 85% 40%;
  line-height: 2em;
  width: 80px;
  color: white;
  border: none;
  border-radius: 10px;
}
.container .edit-btn {
  background-image: url('https://cdn0.iconfinder.com/data/icons/typicons-2/24/pencil-20.png');
  background-color: #4C99CC;
  width: 70px;
  background-position-x: 80%;
} 

.container .delete-btn {
  background-image: url('https://cdn4.iconfinder.com/data/icons/general-office/91/General_Office_24-16.png');
  background-color: #D54C4C;
}

.save-btn {
  background-image: url('https://cdn2.iconfinder.com/data/icons/font-awesome/1792/save-20.png');
  background-color:#5CCB56;
  width: 70px;
  background-position-x: 85%;
}

.add-btn {
  width: 70px;
  background-color: #B4B4B4;  
}

.container footer button:focus {
  /* color: black; */
  border: none;
}

.container footer button span {
  margin-left: 5px;
}



.form-section {
  display: flex;
  justify-content: space-between;
}

.form-section * {
  /* flex:1 1 50%; */
  margin-bottom: 20px;
}

.form-section label {
  flex-basis: 20%;
}


.form-section input, .form-section textarea, .form-section select {
  flex-grow: 1;
  /* border-radius: 5px; */
  /* box-shadow: none; */
  border: none;
  border-bottom: 2px solid gray;
  transition: border-bottom 500ms linear;
  background-color: #F0F0F0;
}

.form-section textarea {
  transition: border-bottom 500ms linear;
}



.form-section input:focus, .form-section textarea:focus, .form-section select:focus {
  border-bottom: 2px solid #4C99CC; 
  box-shadow: 0px 5px 5px -6px #4C99CC; 
}



.input-info {
  width: 60%;
  margin: 20px auto;
}

.zero-height {
  height: 0px;
  overflow: hidden;
  /* animation: close-input 1s;   */
  transition: all 500ms linear;
  background-color: #F0F0F0;
  border-bottom-right-radius: 10px;
}

.zero-height2 {
  height: 330px;
  overflow: hidden;
  transition: all 500ms linear;
  background-color: #F0F0F0;
  border-bottom-right-radius: 10px;
}

.add-btn-div {
  display: flex;
  justify-content: flex-end;
}

.open-btn {
  background: #F0F0F0;
  width: 60px;
  height: 60px;
  border-top-right-radius: 0;
  border-top-left-radius: 0; 
  position: relative;
}

.open-btn img {
  position: absolute;
  left: 30%;
  top: 40%;
}

.open-btn img {
  /* content: ' ';
  background-image: url('https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-down-01-20.png');
  background-repeat: no-repeat;
  background-position: 55% 50%; */
  transition: all 500ms linear;
  
}

.open-btn2 img{
  transform: rotate(180deg);
  transition: all 500ms linear;
}

.done-task {
  color: green;
}

.function-btns {
  margin-top: 15px;
  display: flex;
  justify-content: space-around
}

.function-btns button {
  width: auto;
  background: rgb(46, 42, 42)
}

.active-btn {
  background: rgb(87, 194, 87) !important;
}

li > form *:not(button) {
  background-color: white !important;
}

.late {
  color: red;
}

.form-section:nth-last-child(2) span{
  color: #9D9D9D;
  font-size: 1em;
}

.form-section:nth-last-child(2) input {
  flex-basis: 20%;
  flex-grow: 0;
  text-align: right; 
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-header img, .task-header button {
  height: 100%;
}